* 
.element {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

{
       box-sizing: border-box;
  }
  
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: black;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
  }
  
  nav {
    display: flex;
    display: block;
  }
  
  nav a {
    padding: 14px 20px;
    text-decoration: none;
    border: dotted 1px white);
    color: white;
    background-color: pink;
  }
  
  aside {
    flex: 30%;
    padding: 10px;
    flex-wrap: wrap;
    color: white;
  }
    
 aside img {
    height: 100%;
    width: 250px;
    float: left;
    }
  
  aside header {
        text-align: left;
        color: pink;
    }

    main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      align-items: stretch;
      align-content: space-between;
    }
  
    main img {
      width: 100%;
    }
    
  .card {
    padding: 50px;
    border: dashed pink 2px;
    margin: 10px, 50px, 10px, 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .card a {
      color: white;
      text-decoration: underline;
      text-align: center;
      padding: 20px;
  }

  #app1 {
    width:100%;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: black;
    color: #fff;
  }

  footer a {
    padding: 20px;
  }

  
  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */
  /*common breakpoints for widths of devices:
    • 320px — 480px: Mobile devices
    • 481px — 768px: iPads, Tablets
    • 769px — 1024px: Small screens, laptops
    • 1025px — 1200px: Desktops, large screens*/
  
  /* Tablets - header changes color */
  @media screen and (max-width: 992px) {
    header {
      background:black;
      
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: black;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: black;
    }
  }
  
  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
      /*https://css-tricks.com/almanac/properties/f/flex-direction/*/
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 1;/* appears second */
      /*oder in the sequence*/
      /*https://www.w3schools.com/cssref/css3_pr_order.asp*/
      /*Default value 0. Specifies the order for the flexible item*/
    }
    /* Change the header background */
    header {
      background:black;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: black;
    }
  }